html{
  height: auto;
}

body {
  width: auto;
  display: block;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(rgb(54, 220, 210), rgb(91, 134, 229)) no-repeat;
  font-family: 'Montserrat', bold;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2%;
    font-size: 1.7rem;
    color: white;
}

.title{
  margin-top: 2%;
}

.form{
  display: flex;
  justify-content: space-between;
  height: 5vh;
  background-color: none;
  padding: 1.5rem;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.input{
  font-family: 'Montserrat', bold;
  font-size: 17px;
  color: black;
  padding: 1rem;
  width: 100%;
  -webkit-border-top-left-radius: 20px;
  -webkit-border-bottom-left-radius: 20px;
  -moz-border-radius-topleft: 20px;
  -moz-border-radius-bottomleft: 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-style: none;
  outline:none;
}

.btn{
  font-family: 'Montserrat', bold;
  width:15%;
  -webkit-border-top-right-radius: 20px;
  -webkit-border-bottom-right-radius: 20px;
  -moz-border-radius-topright: 20px;
  -moz-border-radius-bottomright: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-style: none;
  background: rgba(255, 255, 255,0.5);
}

.btn img{
  width: 60%;
  height: 60%;
}

/*Card*/
.cards{
  display: grid;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  flex-direction: row;
  align-content: center;
  align-items: top;
  grid-template-columns: repeat(2, 1fr);
  gap: 0;
}
.card-container{  
  padding: 1.5rem;
}
.card{
    padding: 1%;
    margin-bottom: 1.4rem;
    padding-bottom: 1.5rem;
    width: 50%;
    border-radius: 30px;
    background: rgba(255, 255, 255,0.2);
    box-shadow: 0px 6px 6px 7px rgba(0, 0, 0, 0.25);
    margin-left: auto;
    margin-right: auto;
}
.card-city{
  text-align: center;
  letter-spacing: 0.1em;
  font-size: 2.5rem;
  color: rgb(255, 255, 255);
}

.card-weather{
  display:grid;
  align-items: center;
  color: rgb(255, 255, 255);
}

.card-img{
  width: 190px;
  height: 190px;
  align-content: center;
  display: block;
  margin-left: auto;
  margin-right: auto 
}


.card-value{
  text-align: center;
  font-size: 4rem;
  color: rgb(255, 255, 255);
}

.card-description{
  text-align: center;
  font-size: 2.5rem;
  color: rgb(255, 255, 255);
  overflow-wrap:break-word;
}

.button-more{
  padding: 0.5rem;
  margin-top: 1rem;
  text-align: center;
  border-radius: 30px;
  background: rgba(255, 255, 255,0.5);
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.5rem;
  mix-blend-mode: screen;
}

/*More information*/

.more-info{
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  width: 80%;
  border-radius: 30px;
  background: rgba(255, 255, 255,0.2);
  box-shadow: 0px 6px 6px 7px rgba(0, 0, 0, 0.25);
  display:none;
  opacity: 1;
}

table.iksweb{
  text-align: center;
  color: #fff;
  font-size: 1.7rem;
	width: 100%;
	border-collapse:collapse;
	border-spacing:0;
	height: auto;
}

table.iksweb td,table.iksweb th {
	padding: 2%;
}

table.iksweb img {
  width: 60px; 
  height: 60px;
}

.more-info.show {
  opacity: 1;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.button-more.expanded {
  mix-blend-mode: screen;
}